[user]
    name = Jon Schoning
    email = jonschoning@gmail.com
[core]
    symlinks = false
	#autocrlf = true
    whitespace = cr-at-eol,-trailing-space,-space-before-tab
    filemode = false
	safecrlf = true
	pager = less -F -X
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = true
	ui = true
[pack]
    packSizeLimit = 2g
[help]
    format = html
[imap]
    folder = \"[Gmail]/Drafts\"
[alias]
	b = branch -a
	l = log --graph --decorate --oneline                 --pretty=format:'%Cred%h%Creset%C(yellow bold)%d%Creset %C(white dim)%s%Creset'
	ld = log  --graph --decorate --date=local 		   	 --pretty=format:'%Cred%h%Creset%C(yellow bold)%d%Creset %C(white dim)%s%Creset %C(magenta dim)(%cd)%Creset %C(bold blue)<%an>%Creset'
	lg = log  --graph --decorate --abbrev-commit --color --pretty=format:'%Cred%h%Creset%C(yellow bold)%d%Creset %C(white dim)%s%Creset %C(magenta dim)(%cr)%Creset %C(bold blue)<%an>%Creset'
	cb = checkout -b
	db = branch -d
	ck = checkout
	cm = commit
	s = status --short
	a = add
	sa = stash apply
	sp = stash pop
	sl = stash list
	aa = add -A
	rl = rev-list --ancestry-path --first-parent tfs/default..HEAD
	pushf = push --force-with-lease
[push]
	default = current
[merge]
  tool = meld_all
# tool = nvimdiff
  prompt = false
[mergetool "meld_merged"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
[mergetool "meld_base"]
    cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
[mergetool "meld_all"]
    cmd = meld --diff "$LOCAL" "$MERGED" "$REMOTE" --diff "$BASE $LOCAL" --diff "$BASE $REMOTE" --output "$MERGED"
[mergetool "nvimdiff"]
    cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd l' -c 'wincmd l' -c '$wincmd l' -c 'wincmd J' 
[github]
	user = jonschoning
[gui]
	fontui = -family \"Gravur Condensed\" -size 11 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"Bitstream Vera Sans Mono\" -size 9 -weight normal -slant roman -underline 0 -overstrike 0
[credential]
	helper = cache
[web]
	browser = surf
[browser "surf"]
	cmd = surf
[pull]
  ff = only
